<%- include partials/banner.ejs %>
<div class="main_container">
	<%- include partials/nav.ejs %>
	<div class="posts">
	 	<% page.posts.each(function(post){ %>
	 		<div class="post">
	 			<div class="title">
	 				<a href="<%- url_for(post.path) %>"><%= post.title %></a>
	 			</div>
		        <div class='text-muted'>
					<%= date(post.date, config.date_format) %> 
				</div>
				<% if(post.excerpt) { %>
					<%- post.excerpt %>
				<% } %>
	 		</div>
		<% }) %>
	</div>
</div>
<%- include partials/footer.ejs %>